node_modules/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
*.egg-info/
.idea/
.vscode/
.DS_Store
*.log
*.bak
*.swp
*.swo
*.tmp
*.env
*.egg
*.log
*.cache
*.coverage
.coverage.*